# OS X
.DS_Store

## Xcode user settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Build output
_Project/build/
build/
_Project/DerivedData/
DerivedData/
.clang-module-cache/
.derived/
.derived-device/

## Apple toolchain artefacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult
*.xctestrun
.swiftpm/
.build/

## Local editor settings
.vscode/
.idea/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
_Project/Availability.h
